@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #edbb00;

  background: repeating-linear-gradient(
    90deg,
    #004d98 0px,
    #004d98 120px,
    #730720 120px,
    #730720 240px
  );
}


h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #fcba63;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: #004d98;
  margin: 10px;
  padding: 5px;
  border: 1px solid #edbb00;
  border-spacing: 0px;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #edbb00;
  color: #004d98;
}
  
td {
  padding: 5px 10px;
}

th, td {
  padding: 10px 14px;
}

a {
  color: #edbb00;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: #730720;
}

nav a {
  text-transform: uppercase;
  padding: .5em;
}
nav a:hover {
  color: #fff;
}
 
.button {
  background-color: #edbb00;
  color: #004d98;
  border-color: #edbb00;
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fcba63;
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: #004d98;
}
  
.offer {
  text-transform: uppercase;  
}

footer {
  background-color: #730720;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px 80px;
  display: grid;
  row-gap: 24px;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 0.95em;
  letter-spacing: 0.12em;
}

h3, h4 {
  font-weight: 500;
  opacity: 0.9;
  margin-top: -10px;
}

tr:not(:last-child) td {
  border-bottom: 1px solid rgba(255,237,2,0.25);
}

